<!-- Outreach section -->

<hr>
<div class="row" id="termproject">
    <div class="col">
        <h2 clss="mb-5">🧩 Fun Projects </h2>
        <p></p>
        {% for mini-project in site.data.outreach.mini-projects %}
            {% include_relative _libs/outreach_widget.html %}
        {% endfor %}
        <p></p>
    </div>
</div>


<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=yFsJn6ACM8XC95d5WqN18GstlB1ZXpv32x2sXz68g9I&cl=ffffff&w=a"></script>

<a href="https://clustrmaps.com/site/1c6q2"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=yFsJn6ACM8XC95d5WqN18GstlB1ZXpv32x2sXz68g9I&cl=ffffff" /></a>
