<!-- Updates section -->

<hr>
<div class="row" id="updates">
    <div class="col">
        <h2 clss="mb-5">📜 updates</h2>
        <p></p>
        <div class="owl-carousel owl-theme">
            {% for update in site.data.updates.updates %}
                {% include_relative _libs/updates_widget.html %}
            {% endfor %}
        </div>
        <p></p>
    </div>
</div>

<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=yFsJn6ACM8XC95d5WqN18GstlB1ZXpv32x2sXz68g9I&cl=ffffff&w=a"></script>

<a href="https://clustrmaps.com/site/1c6q2"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=yFsJn6ACM8XC95d5WqN18GstlB1ZXpv32x2sXz68g9I&cl=ffffff" /></a>
